p {
	margin:0px;
	padding:0px;
}

select {
	margin:0px;
}

.sel {
	padding:10px;
	border:1px black solid;
	float:left;
}

.langdiv {
	margin:5px;
	height:250px;
	padding:5px;
	border:1px black solid;
	display:block;
}

.affixdiv {
	border:1px black solid;
	float:left;
}

.worddiv {
	float:left;
}

.worddiv select {
	width:100px;
}

.catdiv {
	display:block;
}